# Resource group variables
resource_group_name     = "cnsa-2026-rg"
resource_group_location = "swedencentral"

## SSH public key for VM access
ssh_public_key          = "ssh- "

# GCP
gcp_project_id = "cnsa2026-aek676"
gcp_location   = "us-central1"

# cAp
username       = "pepe"
cloud_provider = "gcp"
